@import '../../../App.scss';

.aboutContainer {
  padding: 10rem 10rem 0;
  font-weight: normal;
  
  .pageTitle {
    // font-size: 3rem;
    margin: 0;
  }
  
  .basics {
    display: flex;

    .introContainer {
      width: 45%;
      padding: 15px 30px;

      .introduction {
        font-size: 28px;
      }
    }

    @include tab {
      display: block;

      .introContainer {
        width: 100%;
        padding: 30px 0 0;
      }
    }

    @include sp {
      .image {
        width: 100%;
      }
      
      .introContainer {

         .introduction {
          font-size: 1.25rem;
        }
        
        .text {
          font-size: 14px;
        }
      }
    }
  }
  
  .achieve {
    font-size: 2.2rem;

    @include pro {
      font-size: 1.8rem;
    }
    
    @include tab {
      font-size: 1.8rem;
    }
    
    @include sp {
      font-size: 1.25rem;
    }
  }
  
  .personContainer,
  .worksContainer,
  .historyContainer {
    // width: 75%;
    // margin: 2.5rem auto 0;
    margin-top: 2.5rem;
  }
  
  .divine {
    border-bottom: 3px solid #FFC355;
    width: 80%;
  }
  
  .topics {
    // margin-top: 5rem;
    // // padding: 0 5rem;
    // text-align: left;
    
    .title {
      font-size: 2rem;
      margin-bottom: 1rem;

      @include pro {
        font-size: 1.75rem;
      }

      @include tab {
        font-size: 1.5rem;
      }
      
      p {
        margin: 0;
      }
    }
    
    @include sp {
      margin-top: 3rem;
      
      .title {
        font-size: 1.25rem;
      }
    }
  }

  @include pro {
    padding: 5rem 5rem 3rem;
  }
  
  @include tab {
    padding: 5rem 5rem 3rem;
  }
  
    @include sp {
      padding: 5rem 2rem 0;
  
      .pageTitle {
        font-size: 2rem;
      }
    }
}