@import '../../../App.scss';

.productsContainer {
  padding: 10rem 10rem 0;

  @include pro {
    padding: 5rem;
  }

  @include sp {
    padding: 5rem 2rem;
  }
  
  .productsBlock {

    @include sp {
      padding-top: 0;
      margin-bottom: 0;
    }

      .textContainer {
        margin: 10rem 0;
        
        @include pro {
          margin: 5rem 0 0;
        }

        @include sp {
          margin-top: 3rem;
        }
      }
    
    .text {
      font-size: 3rem;
      letter-spacing: 3px;
      padding: 30px;
      font-weight: 200;

      @include pro {
        font-size: 2rem;
      }

      @include tab {
        font-size: 1.8rem;
      }

      @include sp {
        font-size: 1.5rem;
      }
    }
  }

  .divine {
    border-bottom: 3px solid #FFC355;
    width: 80%;
  }
}