@import '../../App.scss';

.footerContainer {
  width: 100%;
  font-weight: normal;

  .linkItemsContainer {
    padding-top: 2rem;
    padding-left: 7rem;

    li {
      list-style: none;
      padding: 1rem 0;
    }

    @include pro {
      padding-left: 2rem;
      padding-top: 1rem;

      li {
        padding: 14px 0;
      }
    }

    @include tab {
      padding-left: 2rem;
      padding-top: 1rem;

      li {
        padding: 8px 0;
      }
    }

    @include sp {
      padding: 0;
      
      li {
        padding: 6px 0;
      }

      li:last-child {
        transform: translateX(.3rem);
      }
    }
  }

  .divine {
    border-bottom: 1.3px solid #FFC355;
    margin: 0 auto;
    width: 10%;

    @include sp {
      width: 85%;
    }

    &.wide {
      width: 85%;
    }
  }
  
  .copyright{
    width: 75%;
    font-size: 1rem;
    padding: 1.3rem 0;
    margin: 0 auto;
    text-align: center;
    color: #06F;

    p {
      margin: 0;
    }

    @include sp {
      font-size: .75rem;
    }
  }
}
