html {
  height: 100%;
  overflow: scroll;
}

body {
  height: 100%;
//   animation-name: fadein;
//   animation-duration: 1.5s;
// }
// @keyframes fadein {
// from {
//   opacity: 0;
//   transform: translateY(20px);
// }
// to {
//   opacity: 1;
//   transform: translateY(0);
// }
}

.App {
  height: 100%;
  color: #06F;

  .isNight {
    color: rgb(201, 187, 0);
  }
}

.main {
  height: 100%;
}

.btn-day {
  position: absolute;
  top: 50%;
  left: 45%;
}

.btn-night {
  position: absolute;
  top: 50%;
  left:55%;
}

